.page {
  min-height: 100vh;
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  gap: 20px;
}

.title {
  color: #fff;
  text-align: center;
}

.list {
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
}

.list__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 10px;
  justify-items: center;
}

.poster {
  object-fit: contain;
  width: 100%;
}
